<div class="home">
  <h1>
    ¡Bienvenido al proyecto final de Marianella Torressi!
  </h1>

  <h2>Productos</h2>

  <div class="tarjetitas">
    {{>card}}
  </div>
</div>

<script src="js/main.js"></script>