<div class="home">
  <h1>
    ¡Bienvenido al proyecto final de Marianella Torressi!
  </h1>

  <h1>Esta parte esta creada con handlebars</h1>

  <h2>Lista de productos</h2>

  <div class="tarjetitas">
    {{>card}}
  </div>
</div>

<script src="js/main.js"></script>