<nav class="header">
  <img
    class="logo"
    src="https://res.cloudinary.com/dp8auiwtw/image/upload/v1686142071/Panader%C3%ADa%20S%C3%A1nchez/LogoBlancoSF_r8auqm.png"
    alt=""
  />
  <div class="lista">
    <a href="/">Productos</a>
    <a href="/chat">Chat</a>
  </div>
</nav>